p {
  font-size: 20px
}

h5 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
li {
  font-style: italic;
}
h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
h2 { font-family: "Comic Sans MS", cursive, sans-serif;
}